@import url("https://fonts.googleapis.com/css2?family=Damion&family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:wght@300;400;500&family=Roboto+Mono&family=Roboto:wght@300;400;700&family=Rubik&family=Tinos:ital@0;1&family=Truculenta:opsz,wght@12..72,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
body {
  background-color: #52565e;
}
.container {
  width: 80%;
  min-height: 60vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* style game form */

#new-game-form {
  width: 80%;
  margin: 0 auto;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#game-name {
  width: 50%;
}
.details {
  width: 80%;
  min-height: 30vh;
  padding: 1rem;
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: 1px 2px 3px rgba(00, 0, 0, 0.4);
  background-color: #caccd1;
}
.main-heading {
  font-family: "Tinos", sans-serif;
  font-weight: 800;
  font-size: 4rem;
  text-align: center;
  padding: 2rem 0;
}
.scores-container {
  width: 40%;
}
.score-form {
  flex-direction: column;
  height: 15rem;
  width: 40%;
  position: relative;
}
.btn-submit {
  position: absolute;
  right: 9rem;
}
.heading {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.btn {
  width: 8rem;
  height: 1.5rem;
}
.btn:hover {
  cursor: pointer;
}
.scores {
  height: auto;
  width: 100%;
}
.score {
  width: 100%;
  height: 1rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.score-details {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* styling the form */
.form-container {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.input {
  width: 70%;
  height: 2rem;
  border: none;
}
.score:nth-child(even) {
  background-color: grey;
}
